@import './article-header.css';
@import './article-figure.css';
@import './colophone.css';
@import './bylineContent.css';
@import './subscription.css';
@import './readMore.css';
@import './readMoreArticles.css';
@import './latestNewsTitle.css';
@import './latestNews.css';


.mainArticle {
	width: 918px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: repeat(9, auto);
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: ". teaser teaser teaser"
						"cover cover cover cover"
						"colophon colophon colophon colophon"
						"content content content content"
						"subscribe subscribe subscribe subscribe"
						"readMoreText readMoreText readMoreText readMoreText"
						"articleImgLink articleImgLink articleImgLink articleImgLink"
						"latestTitle latestTitle latestTitle latestTitle"
						"latestNews latestNews latestNews latestNews";

}